@import '../../../@theme/styles/themes.scss';
@import '../../../../../assets/scss/custom/custom.scss';

@import '../../../../../assets/scss/components/button';
@import '../../../../../assets/scss/components/banner';

:host {
  display: block;
}

@include nb-install-component() {
  ::ng-deep {
    @include banner;

    .multiple-image {

      .ngx-gallery-preview-text {
        padding-right: 10vw;
        padding-left: 10vw;

        @media (min-width: 500px) {
          text-align: justify;
          text-align-last: center;
        }
      }
    }

    .page-heading {
      overflow-x: hidden;
      position: relative;
      // height: 450px;

      // .banner-mobile {
      //   display: none;
      // }
      .caption-container {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: 1;

        .item {
          height: 100%;
        }
      }

      .banner-desktop {
        height: 100%;
        height: 450px;
        background-size: cover;
        background-repeat: no-repeat;
      }

      // @media (max-width: 500px) {
      //   height: 350px;
      // }
    }

    .gallery-container {
      position: relative;

      .gallery-thumnail {
        display: none;
      }

      @media (min-width: 992px) {
        .gallery-thumnail {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          z-index: 99;
          pointer-events: none;
          display: none;
          background-size: cover;
          background-position: center;
          height: 450px;
          display: block;

          &:after {
            position: absolute;
            content: '';
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.5);
            opacity: 0;
            transition: all 0.3s ease-in-out;
          }

          .gallery-image {
            display: none;
          }
        }

        .gallery-icons {
          // transition: opacity 0.3s ease-in-out;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          text-align: center;
          z-index: 2;
          opacity: 0;

          &:before {
            content: '\f302';
            font-family: 'Font Awesome 5 Pro';
            color: #fff;
            font-size: 32px;
            font-weight: 300;
          }

          &:after {
            margin: 5px 0 0;
            content: 'Click to view all photos';
            color: #fff;
            font-weight: 300;
            font-size: 18px;
            display: block;
          }
        }

        &:hover {
          .gallery-icons {
            opacity: 1;
          }

          .gallery-thumnail {
            &:after {
              opacity: 1;
            }
          }
        }
      }
    }
  }
}
