<div class="related-post line-top pt-20 pb-30">
    <div class="container">
        <div class="block-title larger-size">
            <h3>Related stories</h3>
        </div>
        <div class="list-view list-style">
            <div class="row">
                <div class="col-12">
                    <div class="item">
                        <div class="thumbnail">
                            <a href="#">
                                <img src="https://picsum.photos/150/100" alt="">
                                <span class="bookmark">
                                    <i class="far fa-bookmark"></i>
                                </span>
                            </a>
                        </div>
                        <div class="description">
                            <div class="tags">
                                <ul>
                                    <li><a href="#">Malaysia</a></li>
                                    <li><a href="#">Weekend of Good</a></li>
                                </ul>
                            </div>
                            <h3><a href="#">A Weekend of Good in Kuala Lumpur</a></h3>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="item">
                        <div class="thumbnail">
                            <a href="#">
                                <img src="https://picsum.photos/150/100" alt="">
                                <span class="bookmark">
                                    <i class="far fa-bookmark"></i>
                                </span>
                            </a>
                        </div>
                        <div class="description">
                            <div class="tags">
                                <ul>
                                    <li><a href="#">Malaysia</a></li>
                                    <li><a href="#">Meet</a></li>
                                </ul>
                            </div>
                            <h3><a href="#">Meet Khor Ai-na</a></h3>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="item">
                        <div class="thumbnail">
                            <a href="#">
                                <img src="https://picsum.photos/150/100" alt="">
                                <span class="bookmark">
                                    <i class="far fa-bookmark"></i>
                                </span>
                            </a>
                        </div>
                        <div class="description">
                            <div class="tags">
                                <ul>
                                    <li><a href="#">India</a></li>
                                    <li><a href="#">How-to</a></li>
                                </ul>
                            </div>
                            <h3><a href="#">7 Responsible Travel Enterprises in India</a></h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>