<div class="better-traveller-select-country">
    <div class="bg" style="background-image: url(https://picsum.photos/1000/1000)"></div>
    <div class="container">
        <div class="content text-center">
            <div class="logo pb-5">
                <img src="images/logo-obw-white.svg" alt="">
            </div>
            <div class="tbt-logo pb-5">
                <img src="images/logo-tbt.svg" alt="">
            </div>
            <p>Explore wide. Live deep. Do good.</p>
            <div class="webform pt-20">
                <form action="">
                    <div class="form-group form-select">
                        <select name="" id="">
                            <option value="">Select a country</option>
                            <option value="">Laos</option>
                            <option value="">Cambodiant</option>
                            <option value="">Vietnameses</option>
                        </select>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
    