<div class="community-forum gray-bg pt-30 pb-30">
    <div class="container">
        <div class="block-title">
            <h3>Community Forums</h3>
            <p>Talk travel with curious explorers like you</p>
        </div>
        <div class="list-view grid-style">
            <div class="row">
                <div class="col-6">
                    <div class="item">
                        <div class="thumbnail">
                            <a href="#">
                                <img src="https://picsum.photos/150/100" alt="">
                                <span class="static-icon">
                                    <i class="far fa-comments"></i>
                                </span>
                                <span class="subtitle">
                                    General Forum
                                </span>
                            </a>
                        </div>
                    </div>
                </div>    
                <div class="col-6">
                    <div class="item spotlight">
                        <div class="thumbnail">
                            <a href="#">
                                <img src="https://picsum.photos/150/100" alt="">
                                <span class="static-icon">
                                    <i class="far fa-comments"></i>
                                </span>
                                <span class="subtitle">
                                    Country Forum
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>