<div class="explore-by-country pt-30 pb-30">
    <div class="container">
        <div class="block-title">
            <h3>Explore by country</h3>
        </div>
        <div class="list-view grid-style">
            <div class="row">
                <div class="col-6">
                    <div class="item">
                        <div class="thumbnail">
                            <a href="#">
                                <img src="https://picsum.photos/150/100" alt="">
                                <span class="static-icon">
                                    <i class="far fa-globe"></i>
                                </span>
                                <span class="subtitle">
                                    Singapore
                                </span>
                            </a>
                        </div>
                    </div>
                </div>    
                <div class="col-6">
                    <div class="item">
                        <div class="thumbnail">
                            <a href="#">
                                <img src="https://picsum.photos/150/100" alt="">
                                <span class="static-icon">
                                    <i class="far fa-globe"></i>
                                </span>
                                <span class="subtitle">
                                    India
                                </span>
                            </a>
                        </div>
                    </div>
                </div>    
                <div class="col-6">
                    <div class="item">
                        <div class="thumbnail">
                            <a href="#">
                                <img src="https://picsum.photos/150/100" alt="">
                                <span class="static-icon">
                                    <i class="far fa-globe"></i>
                                </span>
                                <span class="subtitle">
                                    Indonesia
                                </span>
                            </a>
                        </div>
                    </div>
                </div>    
                <div class="col-6">
                    <div class="item">
                        <div class="thumbnail">
                            <a href="#">
                                <img src="https://picsum.photos/150/100" alt="">
                                <span class="static-icon">
                                    <i class="far fa-globe"></i>
                                </span>
                                <span class="subtitle">
                                    Malaysia
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="btn-group pt-30 text-center">
                <a href="#" class="btn btn-dark btn-rounded">show more countries</a>
            </div>
        </div>
    </div>
</div>