<div class="our-collection gray-bg pt-30 pb-30">
    <div class="container">
        <div class="block-title">
            <h3>Our Collection</h3>
            <p>Browse from our list of curated travel experiences</p>
        </div>
        <div class="list-view grid-style">
            <div class="row">
                <div class="col-6">
                        <div class="item">
                            <div class="thumbnail">
                                <a href="#">
                                    <img src="https://picsum.photos/150/100" alt="">
                                    <span class="collection-items">
                                        <i class="far fa-book"></i> 5
                                    </span>
                                </a>
                            </div>
                            <div class="description">
                                <h3><a href="#">Nature lovers</a></h3>
                            </div>
                        </div>
                    </div>
                <div class="col-6">
                    <div class="item">
                        <div class="thumbnail">
                            <a href="#">
                                <img src="https://picsum.photos/150/100" alt="">
                                <span class="collection-items">
                                    <i class="far fa-book"></i> 7
                                </span>
                            </a>
                        </div>
                        <div class="description">
                            <h3><a href="#">Road trips</a></h3>
                        </div>
                    </div>
                </div><div class="col-6">
                    <div class="item">
                        <div class="thumbnail">
                            <a href="#">
                                <img src="https://picsum.photos/150/100" alt="">
                                <span class="collection-items">
                                    <i class="far fa-book"></i> 6
                                </span>
                            </a>
                        </div>
                        <div class="description">
                            <h3><a href="#">Train journeys</a></h3>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="item">
                        <div class="thumbnail">
                            <a href="#">
                                <img src="https://picsum.photos/150/100" alt="">
                                <span class="collection-items">
                                    <i class="far fa-book"></i> 8
                                </span>
                            </a>
                        </div>
                        <div class="description">
                            <h3><a href="#">Backpackers</a></h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="btn-group pt-30 text-center">
                <a href="#" class="btn btn-light btn-rounded">See all collections</a>
            </div>
        </div>
    </div>
</div>