<div class="thing-to-do pt-30 pb-30">
    <div class="container">
        <div class="block-title">
            <h3>Things to do</h3>
        </div>
        <div class="list-view grid-style">
            <div class="row">
                <div class="col-6">
                        <div class="item">
                            <div class="thumbnail">
                                <a href="#">
                                    <img src="https://picsum.photos/150/100" alt="">
                                    <span class="bookmark">
                                        <i class="far fa-bookmark"></i>
                                    </span>
                                </a>
                            </div>
                            <div class="description">
                                <div class="tags">
                                    <ul>
                                        <li><a href="#">Country</a></li>
                                    </ul>
                                </div>
                                <h3><a href="#">Activity name</a></h3>
                                <p class="category-name"><a href="#">Kicker</a></p>
                            </div>
                        </div>
                    </div>
                <div class="col-6">
                    <div class="item">
                        <div class="thumbnail">
                            <a href="#">
                                <img src="https://picsum.photos/150/100" alt="">
                                <span class="bookmark">
                                    <i class="far fa-bookmark"></i>
                                </span>
                            </a>
                        </div>
                        <div class="description">
                            <div class="tags">
                                <ul>
                                    <li><a href="#">Malaysia</a></li>
                                </ul>
                            </div>
                            <h3><a href="#">Batik Boutique</a></h3>
                            <p class="category-name"><a href="#">Arts Related</a></p>
                        </div>
                    </div>
                </div><div class="col-6">
                    <div class="item">
                        <div class="thumbnail">
                            <a href="#">
                                <img src="https://picsum.photos/150/100" alt="">
                                <span class="bookmark">
                                    <i class="far fa-bookmark"></i>
                                </span>
                            </a>
                        </div>
                        <div class="description">
                            <div class="tags">
                                <ul>
                                    <li><a href="#">Malaysia</a></li>
                                </ul>
                            </div>
                            <h3><a href="#">Restoran Sri Nirwana Maju</a></h3>
                            <p class="category-name"><a href="#">Food Related</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="item">
                        <div class="thumbnail">
                            <a href="#">
                                <img src="https://picsum.photos/150/100" alt="">
                                <span class="bookmark">
                                    <i class="far fa-bookmark"></i>
                                </span>
                            </a>
                        </div>
                        <div class="description">
                            <div class="tags">
                                <ul>
                                    <li><a href="#">Malaysia</a></li>
                                </ul>
                            </div>
                            <h3><a href="#">The Picha Project</a></h3>
                            <p class="category-name"><a href="#">Food Related</a></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="btn-group pt-30 text-center">
                <a href="#" class="btn btn-dark btn-rounded">See all collections</a>
            </div>
        </div>
    </div>
</div>