<div class="travel-inspiration pt-30 pb-30">
    <div class="container">
        <div class="block-title">
            <h3>Travel Inspiration</h3>
        </div>
        <div class="list-view list-style">
            <div class="row">
                <div class="col-12">
                    <div class="item spotlight">
                        <div class="thumbnail">
                            <a href="#">
                                <img src="https://picsum.photos/150/100" alt="">
                            </a>
                        </div>
                        <div class="description">
                            <div class="tags">
                                <ul>
                                    <li><a href="#">Thailand</a></li>
                                    <li><a href="#">Journey</a></li>
                                </ul>
                            </div>
                            <h3><a href="#">Northern Thailand’s hill tribes turn a new leaf</a></h3>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="item">
                        <div class="thumbnail">
                            <a href="#">
                                <img src="https://picsum.photos/150/100" alt="">
                            </a>
                        </div>
                        <div class="description">
                            <div class="tags">
                                <ul>
                                    <li><a href="#">Malaysia</a></li>
                                    <li><a href="#">Weekend of Good</a></li>
                                </ul>
                            </div>
                            <h3><a href="#">A Weekend of Good in Kuala Lumpur</a></h3>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="item">
                        <div class="thumbnail">
                            <a href="#">
                                <img src="https://picsum.photos/150/100" alt="">
                            </a>
                        </div>
                        <div class="description">
                            <div class="tags">
                                <ul>
                                    <li><a href="#">Malaysia</a></li>
                                    <li><a href="#">Meet</a></li>
                                </ul>
                            </div>
                            <h3><a href="#">Meet Khor Ai-na</a></h3>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="item">
                        <div class="thumbnail">
                            <a href="#">
                                <img src="https://picsum.photos/150/100" alt="">
                            </a>
                        </div>
                        <div class="description">
                            <div class="tags">
                                <ul>
                                    <li><a href="#">India</a></li>
                                    <li><a href="#">How-to</a></li>
                                </ul>
                            </div>
                            <h3><a href="#">7 Responsible Travel Enterprises in India</a></h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="btn-group pt-30 text-center">
                <a href="#" class="btn btn-dark btn-rounded">See all stories</a>
            </div>
        </div>
    </div>
</div>