<div id="content" class="pt-25 pb-15" *ngIf="htmlData">
  <div class="content-container" *ngFor="let content of htmlData.body" [innerHTML]="content.value"></div>
  <!-- <div class="container">
    <div class="static-page post-content">
      <div class="post-content-title">
        <h1>
          Terms and Conditions
        </h1>
        <p>Please read this terms and conditions carefully before using this website (Updated  21 June 2019)</p>
      </div>
      <div class="post-content-description">
        <h3>What's in these terms?</h3>
        <p>These terms tell you the rules for using our website (<a href="https://www.ourbetterworld.org/" target="_blank"
            rel="noreferrer">https://www.ourbetterworld.org/</a>) (our site).</p>
        <h3>Who we are and how to contact us</h3>
        <p><a href="https://www.ourbetterworld.org/" target="_blank" rel="noreferrer">https://www.ourbetterworld.org/</a> is a site operated by
          <b>Singapore International Foundation</b>, an organisation registered in Singapore with UEN 199103796W and
          with registered address at No.60A, Orchard Road, #04-01 Tower 1, The Atrium@Orchard, International Involvement
          Hub, Singapore 238890, which owns and operates the digital storytelling initiative “Our Better World",
          intended to tell the stories of people doing good in Asia to inspire the online community to take action, so
          that the subjects of their stories get the help they need to impact more lives ("<b>We</b>").</p>
        <p>To contact us, please email <a href="mailto:storyteller@ourbetterworld.org"
            rel="noreferrer">storyteller@ourbetterworld.org</a>.</p>
        <h3>By using our site you accept these terms</h3>
        <p>By using our site, you confirm that you accept these terms of use and that you agree to comply with them.</p>
        <p>If you do not agree to these terms, you must not use our site.</p>
        <p>We recommend that you print a copy of these terms for future reference.</p>
        <h3>There are other terms that may apply to you</h3>
        <p>These terms of use refer to the following additional terms, which also apply to your use of our site:</p>
        <ul>
          <li>Our <a href="/privacy-policy" rel="noreferrer">Privacy Policy</a>, which sets out the terms on which we process
            any personal data we collect from you, or that you provide to us. By using our site, you consent to such
            processing and you warrant that all data provided by you is accurate. Our Privacy Policy also contains
            information about the cookies on our site.</li>
        </ul>
        <h3>We may make changes to these terms</h3>
        <p>We amend these terms from time to time. Every time you wish to use our site, please check these terms to
          ensure you understand the terms that apply at that time.</p>
        <h3>We may make changes to our site</h3>
        <p>We may update and change our site from time to time.</p>
        <h3>We may suspend or withdraw our site</h3>
        <p>Our site is made available free of charge.</p>
        <p>We do not guarantee that our site, or any content on it, will always be available or be uninterrupted. We may
          suspend or withdraw or restrict the availability of all or any part of our site for business and operational
          reasons. We will try to give you reasonable notice of any suspension or withdrawal.</p>
        <p>You are also responsible for ensuring that all persons who access our site through your internet connection
          are aware of these terms of use and other applicable terms and conditions, and that they comply with them.</p>
        <h3>You must keep your account details safe</h3>
        <p>If you choose, or you are provided with, a user identification code, password or any other piece of
          information as part of our security procedures, you must treat such information as confidential. You must not
          disclose it to any third party.</p>
        <p>We have the right to disable any user identification code or password, whether chosen by you or allocated by
          us, at any time, if in our reasonable opinion you have failed to comply with any of the provisions of these
          terms of use.</p>
        <p>If you know or suspect that anyone other than you knows your user identification code or password, you must
          promptly notify us at <a href="mailto:storyteller@ourbetterworld.org"
            rel="noreferrer">storyteller@ourbetterworld.org</a>.</p>
        <h3>How you may use material on our site</h3>
        <p>We are the owner or the licensee of all intellectual property rights in our site, and in the material
          published on it. Those works are protected by copyright laws and treaties around the world. All such rights
          are reserved.</p>
        <p>You may print off one copy, and may download extracts, of any page(s) from our site for your personal use and
          you may draw the attention of others within your organisation to content posted on our site.</p>
        <p>You must not modify the paper or digital copies of any materials you have printed off or downloaded in any
          way, and you must not use any illustrations, photographs, video or audio sequences or any graphics separately
          from any accompanying text.</p>
        <p>Our status (and that of any identified contributors) as the authors of content on our site must always be
          acknowledged.</p>
        <p>You must not use any part of the content on our site for commercial purposes without obtaining a licence to
          do so from us or our licensors.</p>
        <p>If you print off, copy or download any part of our site in breach of these terms of use, your right to use
          our site will cease immediately and you must, at our option, return or destroy any copies of the materials you
          have made.</p>
        <h3>Do not rely on information on this site</h3>
        <p>The content on our site is provided for general information only. It is not intended to amount to advice on
          which you should rely. You must obtain professional or specialist advice before taking, or refraining from,
          any action on the basis of the content on our site.</p>
        <p>Although we make reasonable efforts to update the information on our site, we make no representations,
          warranties or guarantees, whether express or implied, that the content on our site is accurate, complete or up
          to date.</p>
        <h3>We are not responsible for third party services or websites</h3>
        <p>While our site contains links to other sites and resources provided by third parties and allows you to use
          third party services to register or access your account with us, we will not accept responsibility for any
          such sites, resources or third party services or their contents. Such links and means of registering or
          accessing your account should not be interpreted as approval by us of those sites, resources or third party
          services, or information you may obtain from them.</p>
        <p>We have no control over the contents of those sites, resources or third party services.</p>
        <h3>User-generated content is not approved by us</h3>
        <p>This website may include information and materials uploaded by other users of the site. This information and
          these materials have not been verified or approved by us. The views expressed by other users on our site do
          not represent our views or values.</p>
        <p>If you wish to complain about information and materials uploaded by other users please contact us on <a
            href="https://www.ourbetterworld.org/en/contact-us" target="_blank" rel="noopener">https://www.ourbetterworld.org/en/contact-us</a></p>
        <h3>Our responsibility for loss or damage suffered by you</h3>
        <p>We do not exclude or limit in any way our liability to you where it would be unlawful to do so. This includes
          liability for death or personal injury caused by our negligence or the negligence of our employees, agents or
          subcontractors and for fraud or fraudulent misrepresentation.</p>
        <p>We exclude all implied conditions, warranties, representations or other terms that may apply to our site or
          any content on it.</p>
        <p>We will not be liable to you for any loss or damage, whether in contract, tort (including negligence), breach
          of statutory duty, or otherwise, even if foreseeable, arising under or in connection with:</p>
        <ul>
          <li>use of, or inability to use, our site; or</li>
          <li>use of or reliance on any content displayed on our site.</li>
        </ul>
        <p>In particular, we will not be liable for:</p>
        <ul>
          <li>loss of profits, sales, business, or revenue;</li>
          <li>business interruption;</li>
          <li>loss of anticipated savings;</li>
          <li>loss of business opportunity, goodwill or reputation; or</li>
          <li>any indirect or consequential loss or damage.</li>
        </ul>
        <h3>Uploading content and information to our site</h3>
        <p>Whenever you upload any content to our site and you share information, such as story content, comments and
          links to our site, you must comply with the content standards set out below:</p>
        <p>Contributions must:</p>
        <ul>
          <li>Be accurate (where they state facts).</li>
          <li>Be genuinely held (where they state opinions).</li>
          <li>Comply with applicable law in Singapore and in any country from which they are posted.</li>
        </ul>
        <p>Contributions must not:</p>
        <ul>
          <li>Contain any material which is defamatory of any person.</li>
          <li>Contain any material which is obscene, offensive, hateful or inflammatory.</li>
          <li>Promote sexually explicit material.</li>
          <li>Promote violence.</li>
          <li>Promote discrimination based on race, sex, religion, nationality, disability, sexual orientation or age.
          </li>
          <li>Infringe any copyright, database right or trade mark of any other person.</li>
          <li>Be likely to deceive any person.</li>
          <li>Be made in breach of any legal duty owed to a third party, such as a contractual duty or a duty of
            confidence.</li>
          <li>Promote any illegal activity.</li>
          <li>Be threatening, abuse or invade another's privacy, or cause annoyance, inconvenience or needless anxiety.
          </li>
          <li>Be likely to harass, upset, embarrass, alarm or annoy any other person.</li>
          <li>Be used to impersonate any person, or to misrepresent your identity or affiliation with any person.</li>
          <li>Give the impression that they emanate from us, if this is not the case.</li>
          <li>Advocate, promote or assist any unlawful act such as (by way of example only) copyright infringement or
            computer misuse.</li>
        </ul>
        <p>You warrant that any such contribution does comply with those standards, and you will be liable to us and
          indemnify us for any breach of that warranty. This means you will be responsible for any loss or damage we
          suffer as a result of your breach of warranty.</p>
        <p>Any story content or links you upload to our site will be considered non-confidential and non-proprietary.
          You retain all of your ownership rights in your story content, but you are required to grant us and other
          users of our site a limited licence to use, store and copy that content and to distribute and make it
          available to third parties. If you re-publish your story content anywhere (including but not limited to print
          or online), you are required to credit us with the words, “First published on
          <a href="https://www.ourbetterworld.org/" target="_blank" rel="noreferrer">https://www.ourbetterworld.org/</a> ”.</p>
        <p>We also have the right to disclose your identity to any third party who is claiming that any content posted
          or uploaded by you to our site constitutes a violation of their intellectual property rights, or of their
          right to privacy.</p>
        <p>We have the right to remove any posting you make on our site if, in our opinion, your post does not comply
          with the content standards set out above.</p>
        <p>You are solely responsible for securing and backing up your content.</p>
        <h3>Donations</h3>
        <p><b>A. Donations to OBW on our site</b></p>
        <p>You can donate directly to OBW on our site. Any donation made to OBW on our site:</p>
        <ul>
          <li>needs to meet the minimum donation amount specified from time to time;</li>
          <li>is non-refundable once made to the extent permitted by applicable law; and</li>
          <li>will be used to help OBW create more stories and further engage community more.</li>
        </ul>
        <p><b>B. Donations to other charities and organisations via our site</b></p>
        <p>You can also donate to other charities and organisations via our site. Any donation made to another charity
          or organisation via our site:</p>
        <ul>
          <li>needs to meet the minimum donation amount specified from time to time; and/li&gt;</li>
          <li>is non-refundable once made to the extent permitted by applicable law.</li>
        </ul>
        <p>OBW does not represent or warrant that these donations will be used for any particular purpose and shall not
          be liable for any misuse or non-use of the funds by such charity or organisation.</p>
        <h3>We are not responsible for viruses and you must not introduce them</h3>
        <p>We do not guarantee that our site will be secure or free from bugs or viruses.</p>
        <p>You are responsible for configuring your information technology, computer programmes and platform to access
          our site. You should use your own virus protection software.</p>
        <p>You must not misuse our site by knowingly introducing viruses, trojans, worms, logic bombs or other material
          that is malicious or technologically harmful. You must not attempt to gain unauthorised access to our site,
          the server on which our site is stored or any server, computer or database connected to our site. You must not
          attack our site via a denial-of-service attack or a distributed denial-of service attack. If you breach this
          provision, we will report any such breach to the relevant law enforcement authorities and we will co-operate
          with those authorities by disclosing your identity to them. In the event of such a breach, your right to use
          our site will cease immediately.</p>
        <h3>Rules about linking to our site</h3>
        <p>You may link to our home page, provided you do so in a way that is fair and legal and does not damage our
          reputation or take advantage of it.</p>
        <p>You must not establish a link in such a way as to suggest any form of association, approval or endorsement on
          our part where none exists.</p>
        <p>You must not establish a link to our site in any website that is not owned by you.</p>
        <p>We reserve the right to withdraw linking permission without notice.</p>
        <p>The website in which you are linking must comply in all respects with the content standards set out above.
        </p>
        <p>If you wish to link to or make any use of content on our site other than that set out above, please contact
          <a href="mailto:storyteller@ourbetterworld.org" rel="noreferrer">storyteller@ourbetterworld.org</a>.</p>
        <h3>Which country's laws apply to any disputes?</h3>
        <p>These terms of use, their subject matter and their formation (and any non-contractual disputes or claims),
          are governed by Singapore law. You and we both agree that the courts of Singapore will have exclusive
          jurisdiction.</p>
        <h3>Our trademarks are registered</h3>
        <p>Our Better World is a registered trademark of Singapore International Foundation. You are not permitted to
          use them without our approval.</p>
      </div>
    </div>
  </div> -->
</div>
