<div class="subscribe gray-light-bg pt-30 pb-30">
    <div class="container">
        <div class="block-title text-center">
            <h3>Get inspired</h3>
            <p>Curious as to how to be a better traveller? <br>
                    Sign up for ideas for your next travel adventure!</p>
        </div>
        <div class="webform pt-20">
            <form action="">
                <div class="form-group">
                    <input type="text" class="form-control text-center" placeholder="Enter your email">
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-default form-action">Subscribe</button>
                </div>
            </form>
        </div>
    </div>
</div>