@import '../../../@theme/styles/themes.scss';
@import '../../../../../assets/scss/custom/custom.scss';

@import '../../../../../assets/scss/components/button';
@import '../../../../../assets/scss/components/list-view';
@import '../../../../../assets/scss/components/paginaton';

@include nb-install-component() {
  ::ng-deep {
    @include list-view;
    @include pager;
    .collection-container {
      .tags {
        padding: 5px 0 0;
      }
    }
    .align-title {
      @media (min-width: 576px) {
        height: 34px;
        overflow: hidden;
      }

      @media (min-width: 767px) {
        height: 44px;
        overflow: hidden;
      }
    }
    nb-radio {
      .radio-indicator {
        border: solid 1px #d4dde5;
        width: 16px;
        height: 16px;
      }

      input:hover:not(:disabled)+.radio-indicator {
        border-color: #d4dde5;
      }

      input:checked+.radio-indicator {
        border: solid 1px #d4dde5;

        &:before {
          background-color: #9a9e3a;
          width: 8px;
          border: none;
          padding: 0;
          height: 8px;
        }
      }

      label {
        color: #4a4a4a;
        font-size: 16px;
      }
    }
  }
}
