<div class="page-not-found">
  <h1>Page not found!</h1>
  <div class="desc">
    <p>Sorry, we can’t find what you’re looking for. Try going back to our <a href="/home" rel="noreferrer">homepage</a>.
      Here’s a quote from us to inspire
      you to keep searching!</p>
  </div>
  <div class="quote corner-heart mt-30">
    <div class="wrap">
      <h4>People think that stories are shaped by people.<br>
        In fact, it the other way around.</h4>
      <p>Terry Pratchett</p>
    </div>
  </div>
</div>
