form {
    .form-group {
        margin: 0 0 10px;
        &.row {
            margin-left: -5px;
            margin-right: -5px;
            .col-item {
                padding: 0 5px;
            }
        }
    }
   
    .search-group {
        padding-right: 78px;
        position: relative;
        margin-bottom: 24px;
        button {
            position: absolute;
            right: 0;
            top: 0;
            max-width: 68px;
            min-width: 68px;;
            padding: 0 !important;
            height: 40px;
            text-transform: capitalize;
            line-height: 40px !important;
        }
        @media (min-width: 768px) {
            padding-right: 190px;
            button {
                max-width: 160px;
                min-width: 160px;
            }
        }
    }
    .form-message {
        .logo {
            
        }
        p {
            margin: 0 0 16px;
            color: #656674;
            font-size: 14px;	
            line-height: 21px;
        }
    }
    .form-area {
        width: 100%;
        background-color: var(--white) !important;
        border-radius: 4px !important;
        height: 150px !important;
        resize: none;
        padding: 10px !important;
        border: solid 1px var(--gray-3) !important;
        @include fontSize(null, null, 16px, null);
        color: var(--form-color) !important;	
        @include placeholder {
            color: var(--place-holder) !important;
        }
    }
    .form-control {
        width: 100%;
        background-color: var(--white) !important;
        border-radius: 4px !important;
        height: 40px !important;
        padding: 0 10px !important;
        border: solid 1px #ddd !important;
        @include fontSize(null, null, 16px, null);
        color: var(--form-color) !important;	
        @include placeholder {
            color: var(--place-holder) !important;
        }
        &.error {
            border: solid 1px red !important;
        }
    }
    .form-action {
        border: none;
        width: 100%;
        border-radius: 4px;
    }
    .form-check {
        padding: 0;
        margin: 0 0 10px;
        input {
            display: none;
            &:checked + label {
                &:before {
                    content: '\f14a';
                    font-weight: 600;
                }
            }
        }
        label {
            padding-left: 26px;
            display: block;
            position: relative;
            color: #3B3B3B;
            font-size: 16px;
            line-height: 20px;
            cursor: pointer;
            a {
                color: #E05522;
            }
            &:before {
                position: absolute;
                display: block;
                top: 2px;
                left: 0;
                content: '\f0c8';
                font-size: 18px;
                font-weight: 300;
                margin: 0;
                font-family: var(--awesome);
                color: #7e8283;
            }
        }
    }
    .form-select {
        select {
            width: 100%;
            max-width: 300px;
            border-radius: 4px;	
            background-color: var(--white);
            color: var(--place-holder-color);
            padding: 0 10px;
            height: 44px;
        }
    }
}

.subscribe  {
    .webform  {
        .form-group {
            input[type="text"]{
                border: solid 1px #ddd !important;
                &::placeholder {
                    color: #444444 !important;
                }
                &.error {
                    border: solid 1px red !important;
                }
            }
        }
    }
}