@import '../../../@theme/styles/themes.scss';
@import '../../../../../assets/scss/custom/custom.scss';

:host {
  display: block;
  background: #fff;
  position: relative;
  z-index: 1;
  box-shadow: 0 2px 8px 0 rgba(33, 37, 41, 0.1);

  @media (max-width: 1099px) {
    padding: 5px 0;
    height: 60px;
  }
}

@include nb-install-component() {
  .bottom-menu-container {
    padding: 0 15px;

    &.mobile-menu {
      @media (min-width: 1100px) {
        display: none;
      }
    }

    &.desktop-menu {
      .container {
        @include clearfix;

        k-user {
          padding: 10px 0 0 15px;
        }
      }

      @media (max-width: 1099px) {
        display: none;
      }
    }
  }

  // navigation
  .navigation {
    float: left;

    >ul {
      margin: 0;
      padding: 0;

      >li {
        list-style: none;
        display: inline-block;
        padding: 25px 12px;

        >a {
          color: #343a40;
          font-size: 16px;
          display: block;
        }

        &:hover {
          >a {
            transition: all 0.5s ease;

            &:hover {
              color: #d24f1d;
            }
          }
        }

        &:first-child {
          padding-left: 0;
        }

        &.has-submenu {
          position: relative;

          >a {
            padding-right: 16px;
            position: relative;
            text-decoration: none;

            &:after {
              position: absolute;
              top: 50%;
              right: 0;
              transform: translate(0, -50%);
              content: '\f107';
              font-family: 'Font Awesome 5 Pro';
              font-weight: 300;
              color: #9b9b9b;
            }
          }

          &:hover {
            .submenu {
              visibility: visible;
              opacity: 1;
              -webkit-transform: translateY(0px);
              -ms-transform: translateY(0px);
              transform: translateY(0px);
            }
          }
        }

        .submenu {
          position: absolute;
          top: 60px;
          left: 15px;
          padding-top: 0px;
          width: 200px;
          z-index: 10;
          -webkit-transition: 0.2s ease;
          -o-transition: 0.2s ease;
          transition: 0.2s ease;
          visibility: hidden;
          opacity: 0;
          -webkit-box-shadow: 0 5px 30px 5px rgba(25, 25, 25, 0.2);
          box-shadow: 0 5px 30px 5px rgba(25, 25, 25, 0.2);
          border-radius: 3px;
          background: #fff;
          padding: 8px 0;
          -webkit-transform: translateY(20px);
          -ms-transform: translateY(20px);
          transform: translateY(20px);

          ul {
            list-style: none;
            background: #fff;
            margin: 0;
            padding: 0;

            li {
              a {
                color: #343a40;
                font-size: 16px;
                display: block;
                padding: 8px 16px 8px;
                line-height: 20px;
                color: #6b6b6b;
                text-decoration: none;
                transition: all 0.5s ease;

                &:hover {
                  color: #d24f1d;
                }
              }
            }
          }
        }
      }
    }
  }

  // user group
  k-user {
    float: right;
  }

  .search-navigation-desktop {
    float: right;
    padding: 15px 0;

    .form-group {
      margin: 0;
      position: relative;

      .form-control {
        width: 200px;
        background-color: #e0e0e0;
        border-radius: 4px;
        border: none;
        height: 40px;
        padding-left: 40px;
      }

      button {
        position: absolute;
        top: 0;
        left: 0;
        border: none;
        background: none;
        width: 40px;
        height: 40px;
        text-align: center;
        color: #5f5d70;
        font-size: 20px;
      }
    }
  }

  ::ng-deep .bottom-menu-item {
    display: inline-block;
    vertical-align: middle;
    position: relative;

    .btn {
      padding: 10px 0;
      width: 50px;
      height: 50px;
      color: #000;
      font-size: 20px;
      line-height: 25px;
      box-shadow: none;
      outline: none;
      text-align: left;

      &.btn-menu {
        i {
          display: block;
        }

        .fa-times {
          display: none;
        }

        &.open {

          // background-color: #dddddd;
          .fa-bars {
            display: none;
          }

          .fa-times {
            display: block;
          }
        }
      }
    }
  }
}
