@import '../../../@theme/styles/themes.scss';
@import '../../../../../assets/scss/custom/custom.scss';

@include nb-install-component() {
  ::ng-deep {
    .collection-experiences-container {
      .tags ul li {

        a,
        span {
          color: #9a9e3a;
        }
      }

      .category,
      .organisation {
        ul li span {
          color: #9194a1;
          text-transform: uppercase;
        }
      }
    }

    .item {
      position: relative;

      .item-link {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
      }

      .tags {
        position: relative;
        z-index: 2;
        display: inline-block;
      }
    }
  }
}
