<!doctype html>
<html class="no-js" lang="">
<!-- include Head -->
{% include commons/head.liquid %}
<!-- end -->

<body>
  <!-- Header -->
  {% include commons/header.liquid %}
  <!-- End Header -->


  <!-- contents -->

  {% include pages/place-activity/banner.liquid %}
  {% include pages/place-activity/main-content.liquid %}
  {% include components/subscribe.liquid %}
  
  <!-- End content -->

  <!-- footer -->
  {% include commons/footer.liquid %}
  {% include commons/script.liquid %}
  <!-- End footer -->
</body>

</html>
