<div id="content" class="pt-30">
    <div class="container">
        <div class="post-content">
            <div class="book-mark-story">
                <i class="fal fa-bookmark"></i>
            </div>
            <div class="post-content-tags">
                <ul>
                    <li><a href="#">Malaysia</a></li>
                    <li><a href="#">Penang</a></li>
                </ul>
            </div>
            <div class="post-content-title">
                <h3>Lost Paradise Resort</h3>
                <p>Journey-Related</p>
            </div>
            <div class="post-content-description">
                <div class="infor-group collapse-group pb-25">
                    <div class="short-desc">
                        <p>Penang is a vibrant island where cultural 
                                heritage and cosmopolitan structures go 
                                hand-in-hand, and discovering its many sights 
                                and sounds within 24 hours can be a 
                                challenging yet fulfilling experience... </p>
                    </div>
                    <div class="full-desc hide">
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eum velit officiis eius tenetur inventore similique, voluptatem minus quod! Voluptates tempora culpa temporibus accusamus sequi vero corporis reprehenderit totam, assumenda laudantium.</p>
                    </div>
                    <div class="collapse-btn">
                        <a href="#">Read more</a>
                    </div>
                </div>
                <div class="infor-group line-top pt-20 pb-15">
                    <h3 class="title">Info</h3>
                    <figure>
                        <img src="https://picsum.photos/320/200" alt="">
                    </figure>
                    <div class="infor-list">
                        <div class="row">
                            <div class="col-12">
                                <div class="item open-map">
                                    <div class="icon"><i class="far fa-map"></i></div>
                                    <p><a href="#">View location on map <i class="far fa-chevron-right"></i></a></p>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="item">
                                    <div class="icon"><i class="far fa-clock"></i></div>
                                    <p>Mon - Fri / 19:00 - 20:00</p>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="item">
                                    <div class="icon"><i class="far fa-calendar"></i></div>
                                    <p>Duration: 2 months</p>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="item">
                                    <div class="icon"><i class="far fa-car-side"></i></div>
                                    <p>Getting there: drive / public trans</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="infor-group line-top pt-20 pb-15">
                    <h3 class="title">Notes</h3>
                    <div class="infor-list">
                        <div class="row">
                            <div class="col-12">
                                <div class="item">
                                    <div class="icon"><i class="far fa-tshirt"></i></div>
                                    <p>Want to wear / driving</p>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="item">
                                    <div class="icon"><i class="far fa-sun"></i></div>
                                    <p>Rest time to visit</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="note-tips">
                    <h3 class="title">THE DIFFERENCE YOU MAKE</h3>
                    <ul>
                        <li>
                            <p>#1. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod</p>
                        </li>
                        <li>
                            <p>#2. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod</p>
                        </li>
                        <li>
                            <p>#3. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod</p>
                        </li>
                    </ul>
                </div>
                <div class="infor-group line-top pt-20 pb-15">
                    <h3 class="title mb-15">Discuss in our forum</h3>
                    <p>Ask questions about this place or share your experience</p>
                </div>
            </div>
        </div>
    </div>
</div>