<div class="top-menu-container">
  <div class="container">
    <div class="top-menu-item">
      <a href="https://www.ourbetterworld.org" rel="noreferrer" target="_blank" aria-label="Link to Our Better World page"
        class="logo-obw">
        <img src="../../../../../assets/images/logo-obw-colour.svg" alt="OBW Logo">
      </a>
      <a [routerLink]="['/home']" aria-label="Link to Home" class="logo-tbt">
        <img src="../../../../../assets/images/logo-tbt.svg" alt="OBW Logo">
      </a>
    </div>
    <div class="top-menu-item float-right">
      <k-share></k-share>
    </div>
  </div>
</div>
