@import '../../../@theme/styles/themes.scss';
@import '../../../../../assets/scss/custom/custom.scss';

@import '../../../../../assets/scss/components/button';
@import '../../../../../assets/scss/components/dialog';

:host {
  display: block;
  max-width: 90vw;
}

@include nb-install-component() {
  @include dialog;

  ::ng-deep {
    .center-dialog .btn-close {
      top: 14px !important;
    }

    .dialog-container {
      background-color: white;
      position: relative;
      border-radius: 4px;
      box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
      padding: 15px 15px 20px 15px;
      width: 300px;
      margin: 0;
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      @media (max-width: 500px) {
        max-width: 90vw;
      }

      .dialog-body {
        .icon-facebook {
          color: #3b5998;
        }

        .icon-twitter {
          color: #55acee;
        }

        .icon-mail {
          color: #6b6b6b;
        }

        .icon-pinterest {
          color: #e60019;
        }

        .icon-whatsapp {
          color: #4dc247;
        }

        button {
          display: block;
          border: none;
          background: none;
          outline: none;
          position: relative;
          margin: 20px 0 0;
          padding: 0 0 0 40px;

          i,
          span {
            pointer-events: none;
          }

          i {
            font-size: 24px;
            vertical-align: middle;
            line-height: 24px;
            margin: 0 20px 0 0;
            position: absolute;
            top: 50%;
            left: 0;
            transform: translate(0, -50%);
          }

          span {
            color: #444444;
            font-size: 18px;
            vertical-align: middle;
            line-height: 24px;
          }
        }
      }

      .dialog-footer {
        padding-top: 10px;
        border-top: 1px solid #dddddd;
      }
    }
  }
}
