<div class="footer pt-30 pb-30">
    <div class="container">
        <div class="about-obw pb-30">
            <div class="row">
                <div class="col-12 text-center">
                    <div class="logo">
                        <a href="#"> <img src="images/logo-obw-white.svg" alt=""></a>
                    </div>
                </div>
                <div class="col-12 text-center">
                    <p>We tell stories of everyday people doing good in Asia, to inspire action. The Better Traveller series features stories to inspire you to become a better traveller, someone who positively impacts communities while you're on holiday.</p>
                </div>
            </div>
        </div>
        <div class="footer-nav">
            <div class="row">
                <div class="col-12">
                   <div class="nav-widget">
                       <h3 class="widget-head">Browse by countries</h3>
                   </div>
                </div>
                <div class="col-12">
                   <div class="nav-widget">
                       <h3 class="widget-head">Browse by stories</h3>
                   </div>
                </div>
                <div class="col-12">
                   <div class="nav-widget">
                       <h3 class="widget-head">Sitemap</h3>
                   </div>
                </div>
            </div>
        </div>
        <div class="copyright pt-30">
            <ul>
                <li><a href="#">FAQ</a></li>
                <li><a href="#">Terms and Conditions</a></li>
                <li><a href="#">Privacy Policy</a></li>
            </ul>
            <p>Copyright© 2019 Our Better World, the digital storytelling initiative of the Singapore International Foundation, which brings world communities together to do good.</p>
        </div>
    </div>
</div>