<section class="header">
	<div class="top-header">
		<div class="container">
			<div class="row">
				<div class="col-10">
					<div class="logo">
						<a href="#" class="logo-obw"><img src="images/logo-obw-colour.svg" alt=""></a>
						<a href="#" class="logo-tbt"><img src="images/logo-tbt.svg" alt=""></a>
					</div>
				</div>
				<div class="col-2">
					<div class="sharing text-right">
						<a href="#"><i class="far fa-share-alt"></i></a>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="bottom-header">
		<div class="container">
			<div class="hammer-menu d-inline-block pr-30">
				<a href="#"><i class="far fa-bars"></i></a>
			</div>
			<div class="header-search d-inline-block">
				<a href="#"><i class="far fa-search"></i></a>
			</div>
			<div class="user-header d-inline-block float-right">
				<a href="#"><i class="far fa-user"></i></a>
			</div>
		</div>
	</div>
</section>