<head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Mobile</title>

    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <!-- Place favicon.ico in the root directory -->

    <!-- build:css styles/vendor.css -->
    <link rel="stylesheet" type="text/css" href="/bower_components/magnific-popup/dist/magnific-popup.css">
    <link rel="stylesheet" type="text/css" href="/bower_components/swiper/dist/css/swiper.min.css">
    <link rel="stylesheet" type="text/css" href="/bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker3.css">
    <link rel="stylesheet" type="text/css" href="/bower_components/star-rating-svg/src/css/star-rating-svg.css">
    <link rel="stylesheet" type="text/css" href="/bower_components/swiper/dist/css/swiper.min.css">

    <!-- endbuild -->

    <!-- build:css styles/main.css -->
    <link rel="stylesheet" type="text/css" href="src/main.css">
    <!-- endbuild -->
    
    <!-- build:js scripts/vendor/modernizr.js -->
    <script src="/bower_components/modernizr/modernizr.js"></script>
    <!-- endbuild -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700&display=swap&subset=vietnamese" rel="stylesheet">
</head>