<div class="direct-link back-link">
    <div class="container">
        <a href="#" class="text-center"><i class="fal fa-arrow-left"></i> Malaysia trip</a>
    </div>
</div>
<div class="tabs-head small-size">
    <div class="container">
        <ul class="nav nav-tabs" id="tabs-list" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="articles-tab" data-toggle="tab" href="#articles-content" role="tab" aria-controls="articles-content" aria-selected="true">Articles</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="activites-tab" data-toggle="tab" href="#activites-content" role="tab" aria-controls="activites-content" aria-selected="false">Activites</a>
            </li>
        </ul>
    </div>
</div>

<div class="tab-content pt-10 pb-25">
    <div class="tab-pane fade show active" id="articles-content" role="tabpanel" aria-labelledby="articles-content-tab">
       <div class="container">
            <div class="list-view grid-style">
                <div class="row">
                    <div class="col-6">
                        <div class="item">
                            <div class="thumbnail">
                                <a href="#">
                                    <img src="https://picsum.photos/150/100" alt="">
                                    <span class="bookmark bookmarked">
                                        <i class="far fa-bookmark"></i>
                                    </span>
                                </a>
                            </div>
                            <div class="description">
                                <div class="tags">
                                    <ul>
                                        <li><a href="#">Malaysia</a></li>
                                    </ul>
                                </div>
                                <h3><a href="#">Traveling in Malaysia</a></h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="item">
                            <div class="thumbnail">
                                <a href="#">
                                    <img src="https://picsum.photos/150/100" alt="">
                                    <span class="bookmark bookmarked">
                                        <i class="far fa-bookmark"></i>
                                    </span>
                                </a>
                            </div>
                            <div class="description">
                                <div class="tags">
                                    <ul>
                                        <li><a href="#">Malaysia</a></li>
                                    </ul>
                                </div>
                                <h3><a href="#">Malaysia travel guide</a></h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="item">
                            <div class="thumbnail">
                                <a href="#">
                                    <img src="https://picsum.photos/150/100" alt="">
                                    <span class="bookmark bookmarked">
                                        <i class="far fa-bookmark"></i>
                                    </span>
                                </a>
                            </div>
                            <div class="description">
                                <div class="tags">
                                    <ul>
                                        <li><a href="#">India</a></li>
                                    </ul>
                                </div>
                                <h3><a href="#">Traveling in Malaysia</a></h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="item">
                            <div class="thumbnail">
                                <a href="#">
                                    <img src="https://picsum.photos/150/100" alt="">
                                    <span class="bookmark bookmarked">
                                        <i class="far fa-bookmark"></i>
                                    </span>
                                </a>
                            </div>
                            <div class="description">
                                <div class="tags">
                                    <ul>
                                        <li><a href="#">India</a></li>
                                    </ul>
                                </div>
                                <h3><a href="#">Malaysi travel guide contents</a></h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="item">
                            <div class="thumbnail">
                                <a href="#">
                                    <img src="https://picsum.photos/150/100" alt="">
                                    <span class="bookmark bookmarked">
                                        <i class="far fa-bookmark"></i>
                                    </span>
                                </a>
                            </div>
                            <div class="description">
                                <div class="tags">
                                    <ul>
                                        <li><a href="#">India</a></li>
                                    </ul>
                                </div>
                                <h3><a href="#">Traveling in Malaysia</a></h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="item">
                            <div class="thumbnail">
                                <a href="#">
                                    <img src="https://picsum.photos/150/100" alt="">
                                    <span class="bookmark bookmarked">
                                        <i class="far fa-bookmark"></i>
                                    </span>
                                </a>
                            </div>
                            <div class="description">
                                <div class="tags">
                                    <ul>
                                        <li><a href="#">India</a></li>
                                    </ul>
                                </div>
                                <h3><a href="#">Malaysi travel guide contents</a></h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="btn-group pt-25 text-center">
                    <a href="#" class="btn btn-dark btn-rounded">Show more</a>
                </div>
            </div>
       </div>
    </div>
    <div class="tab-pane fade" id="activites-content" role="tabpanel" aria-labelledby="activites-content-tab">
        <div class="container">
            <div class="list-view grid-style">
                <div class="row">
                    <div class="col-6">
                        <div class="item">
                            <div class="thumbnail">
                                <a href="#">
                                    <img src="https://picsum.photos/150/100" alt="">
                                    <span class="bookmark bookmarked">
                                        <i class="far fa-bookmark"></i>
                                    </span>
                                </a>
                            </div>
                            <div class="description">
                                <div class="tags">
                                    <ul>
                                        <li><a href="#">Malaysia</a></li>
                                    </ul>
                                </div>
                                <h3><a href="#">Traveling in Malaysia</a></h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="item">
                            <div class="thumbnail">
                                <a href="#">
                                    <img src="https://picsum.photos/150/100" alt="">
                                    <span class="bookmark bookmarked">
                                        <i class="far fa-bookmark"></i>
                                    </span>
                                </a>
                            </div>
                            <div class="description">
                                <div class="tags">
                                    <ul>
                                        <li><a href="#">Malaysia</a></li>
                                    </ul>
                                </div>
                                <h3><a href="#">Malaysia travel guide</a></h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="item">
                            <div class="thumbnail">
                                <a href="#">
                                    <img src="https://picsum.photos/150/100" alt="">
                                    <span class="bookmark bookmarked">
                                        <i class="far fa-bookmark"></i>
                                    </span>
                                </a>
                            </div>
                            <div class="description">
                                <div class="tags">
                                    <ul>
                                        <li><a href="#">India</a></li>
                                    </ul>
                                </div>
                                <h3><a href="#">Traveling in Malaysia</a></h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="item">
                            <div class="thumbnail">
                                <a href="#">
                                    <img src="https://picsum.photos/150/100" alt="">
                                    <span class="bookmark bookmarked">
                                        <i class="far fa-bookmark"></i>
                                    </span>
                                </a>
                            </div>
                            <div class="description">
                                <div class="tags">
                                    <ul>
                                        <li><a href="#">India</a></li>
                                    </ul>
                                </div>
                                <h3><a href="#">Malaysi travel guide contents</a></h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="item">
                            <div class="thumbnail">
                                <a href="#">
                                    <img src="https://picsum.photos/150/100" alt="">
                                    <span class="bookmark bookmarked">
                                        <i class="far fa-bookmark"></i>
                                    </span>
                                </a>
                            </div>
                            <div class="description">
                                <div class="tags">
                                    <ul>
                                        <li><a href="#">India</a></li>
                                    </ul>
                                </div>
                                <h3><a href="#">Traveling in Malaysia</a></h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="item">
                            <div class="thumbnail">
                                <a href="#">
                                    <img src="https://picsum.photos/150/100" alt="">
                                    <span class="bookmark bookmarked">
                                        <i class="far fa-bookmark"></i>
                                    </span>
                                </a>
                            </div>
                            <div class="description">
                                <div class="tags">
                                    <ul>
                                        <li><a href="#">India</a></li>
                                    </ul>
                                </div>
                                <h3><a href="#">Malaysi travel guide contents</a></h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="btn-group pt-25 text-center">
                    <a href="#" class="btn btn-dark btn-rounded">Show more</a>
                </div>
            </div>
        </div>
    </div>
</div>