<section class="manifesto-device">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h2 class="green-header" style="margin: 40px 0;">THE BETTER TRAVELLER MANIFESTO</h2>
        <p>You have found our special stash!</p>
        <p>Be inspired to be a Better Traveller with these wallpapers.</p>

        <ul class="manifesto-device-list">
          <li>
            <a target="_blank" download="" href="/assets/images/manifesto/the-better-traveller-1366x768.jpg">Desktop
              (1366 x
              768)</a>
          </li>
          <li>
            <a target="_blank" download="" href="/assets/images/manifesto/the-better-traveller-1920x1080.jpg">Desktop
              (1920 x
              1080)</a>
          </li>
          <li>
            <a target="_blank" download=""
              href="/assets/images/manifesto/the-better-traveller-smartphone.jpg">Smartphone</a>
          </li>
          <li>
            <a target="_blank" download=""
              href="/assets/images/manifesto/the-better-traveller-smartphone-large.jpg">Smartphone
              (large)</a></li>
          <li>
            <a target="_blank" download="" href="/assets/images/manifesto/the-better-traveller-tablet.jpg">Tablet</a>
          </li>
        </ul>
      </div>
      <div class="col-md-6">
        <img src="/assets/images/manifesto/manifesto.png" class="img-responsive">
      </div>
    </div>

  </div>
</section>

<div class="manifesto-footer  container obw-container">
  <div class="row">
    <div class="col-md-4 order-md-1">
      <!-- <img class="center-block" src="/img/obw-logo.svg" alt="" style="width: 200px; padding-top: 40px;"> -->
      <a href="https://www.ourbetterworld.org" target="_blank" style="display: block;">
        <div class="obw-logo-wrapper">
          <div class="obw-logo-hz"
            style="background-image: url('/assets/images/manifesto/obw-horizontal-logo_solid.svg')"></div>
        </div>
      </a>
    </div>
    <div class="col-md-8">
      <div class="obw-text">
        <h3 class="hidden-xs" style="margin-top: 0;"><a href="https://www.ourbetterworld.org/en/about-us"
            target="_blank">About Our Better World</a></h3>
        <p class="pt30">We tell stories of everyday people doing good in Asia, to inspire action. The Better Traveller
          series features stories to inspire you to become a better traveller, someone who positively impacts
          communities while you're on holiday. </p>
        <p><a href="https://www.ourbetterworld.org" target="_blank">Visit our website ›</a></p>
      </div>
      <div class="social"></div>
    </div>

  </div>
</div>
