<div class="widget-nav">
    <div class="container">
        <div class="widget-heading">
            <h3>Saved list</h3>
        </div>
        <div class="widget-body">
            <ul>
                <li><a href="#">Singapore trip</a></li>
                <li><a href="#">Malaysia trip</a></li>
            </ul>
            <div class="create-list">
                <a href="#">+ Create new list</a>
            </div>
        </div>
    </div>
</div>