<div class="recently-articles pb-30">
    <div class="container">
        <div class="block-title larger-size">
            <h3>Recently articles</h3>
        </div>
        <div class="list-view grid-style">
            <div class="row">
                <div class="col-6">
                    <div class="item">
                        <div class="thumbnail">
                            <a href="#">
                                <img src="https://picsum.photos/150/100" alt="">
                                <span class="bookmark bookmarked">
                                    <i class="far fa-bookmark"></i>
                                </span>
                            </a>
                        </div>
                        <div class="description">
                            <div class="tags">
                                <ul>
                                    <li><a href="#">Malaysia</a></li>
                                </ul>
                            </div>
                            <h3><a href="#">Traveling in Malaysia</a></h3>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="item">
                        <div class="thumbnail">
                            <a href="#">
                                <img src="https://picsum.photos/150/100" alt="">
                                <span class="bookmark bookmarked">
                                    <i class="far fa-bookmark"></i>
                                </span>
                            </a>
                        </div>
                        <div class="description">
                            <div class="tags">
                                <ul>
                                    <li><a href="#">Malaysia</a></li>
                                </ul>
                            </div>
                            <h3><a href="#">Malaysia travel guide</a></h3>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="item">
                        <div class="thumbnail">
                            <a href="#">
                                <img src="https://picsum.photos/150/100" alt="">
                                <span class="bookmark bookmarked">
                                    <i class="far fa-bookmark"></i>
                                </span>
                            </a>
                        </div>
                        <div class="description">
                            <div class="tags">
                                <ul>
                                    <li><a href="#">India</a></li>
                                </ul>
                            </div>
                            <h3><a href="#">Traveling in Malaysia</a></h3>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="item">
                        <div class="thumbnail">
                            <a href="#">
                                <img src="https://picsum.photos/150/100" alt="">
                                <span class="bookmark bookmarked">
                                    <i class="far fa-bookmark"></i>
                                </span>
                            </a>
                        </div>
                        <div class="description">
                            <div class="tags">
                                <ul>
                                    <li><a href="#">India</a></li>
                                </ul>
                            </div>
                            <h3><a href="#">Malaysi travel guide contents</a></h3>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="item">
                        <div class="thumbnail">
                            <a href="#">
                                <img src="https://picsum.photos/150/100" alt="">
                                <span class="bookmark bookmarked">
                                    <i class="far fa-bookmark"></i>
                                </span>
                            </a>
                        </div>
                        <div class="description">
                            <div class="tags">
                                <ul>
                                    <li><a href="#">India</a></li>
                                </ul>
                            </div>
                            <h3><a href="#">Traveling in Malaysia</a></h3>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="item">
                        <div class="thumbnail">
                            <a href="#">
                                <img src="https://picsum.photos/150/100" alt="">
                                <span class="bookmark bookmarked">
                                    <i class="far fa-bookmark"></i>
                                </span>
                            </a>
                        </div>
                        <div class="description">
                            <div class="tags">
                                <ul>
                                    <li><a href="#">India</a></li>
                                </ul>
                            </div>
                            <h3><a href="#">Malaysi travel guide contents</a></h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>