@import "../../../@theme/styles/themes.scss";
@import "../../../../../assets/scss/custom/custom.scss";

:host {
  display: block;
  // position: relative;
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: 99;

  div {
    padding: 10px;
    cursor: pointer;
  }
}

:host-context(.action-container) {
  position: relative;
  display: inline-block;
  top: 0px;
  right: 0px;

  .btn-bookmark {
    height: 50px;
    width: 50px;
    background-color: #ffffff;
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.2);
    color: #9a9e3a;
    border-radius: 50%;
    margin-right: 10px;
    border: none;

    i {
      text-shadow: none;
    }

    &.bookmarked {
      color: #9a9e3a;

      i {
        font-weight: 600;
      }
    }
  }
}

:host-context(.bookmark-inside) {
  font-size: 24px;
  color: #9a9e3a;

  @media (max-width: 768px) {
    display: none;
  }

  i {
    transition: all 0.2s ease;
  }

  .bookmarked,
  &:hover {
    color: #9a9e3a;

    i {
      font-weight: 600;
    }
  }
}

.bookmark-group {
  position: relative;
  z-index: 100;

  .btn-bookmark {
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 20px;
    color: #fff;
    padding-right: 7px;
    padding-left: 7px;

    &.bookmarked {
      color: var(--color-link);

      i {
        font-weight: 600;
      }
    }
  }

  .bookmark-panel-toggle {
    position: absolute;
    top: 100%;
    right: 5px;
    width: 125px;
    box-shadow: 2px 4px 10px 0 rgba(0, 0, 0, 0.16);
    border: solid 1px #dfdfdf;
    background-color: #ffffff;
    padding: 5px 20px;
    opacity: 0;
    visibility: hidden;
    transition: all 0.2s ease;
    transform: translate(0, 20px);
    z-index: 10;

    &.open {
      transform: translate(0, 10px);
      opacity: 1;
      visibility: visible;
    }

    ul {
      list-style: none;
      padding: 0;
      margin: 0;

      li {
        button {
          padding: 7px 0;
          background: none;
          font-weight: 400;
          border: none;
          height: auto;
          margin: 0;
          color: #4a4a4a;
          font-size: 14px;
          line-height: 16px;
          transition: all 0.2s ease;

          &:hover {
            color: #d34f1d;
          }
        }
      }
    }
  }
}
